---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jessica Kuijer" description="Page à propos de Jessica Kuijer">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="453"
					height="273"
					src="/assets/portrait2.jpeg"
					alt="Jessica Kuijer"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Objectifs</h2>
				<div class="content">
					<p>
						Formée au développement web et technologies mobiles depuis 2020, j'utilise HTML, CSS, Javascript, PHP et progresse de manière autonome sur d’autres langages et frameworks comme REACT JS.
						Très appliquée, je tends à produire un code de qualité et maintenable dans le temps.
					</p>
					<p>
						Je mets à votre service et au service des clients mon dynamisme, ma curiosité et ma rapide capacité d'adaptation.
						Autodidacte, sociable, dynamique et faisant preuve de leadership, je parle anglais et français. Je suis mélomane et j'aime partager cette passion.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes et certifications</h2>
				<div class="content">
					<p>Titre RNCP développeuse web et web mobile - Niveau 5 - (BTS), obtenu en Octobre 2020 : <a href="/assets/titre_pro_dev_web-jessicakuijer.pdf" target="_blank">Lien vers fichier</a></p>
					<p>Certification OPQUAST "Maitrise de la qualité en projet web" obtenu en Mai 2021 : <a href="https://directory.opquast.com/fr/certificat/U9RHI6/" target="_blank">Lien vers fichier</a></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">CV</h2>
				<div class="content">
					<p><a href="/assets/CV_Jessica_Kuijer.pdf" target="_blank">Télécharger mon CV</a></p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
